<h1>Welcome to Code-Blog, <%= @user.email %></h1>
<p>
  You have successfully signed up to Blog website,
  your username is: <%= @user.email %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>
